vendor/
.idea/
.DS_Store
*.iml

*.out

# ignore cetd & cetcli executables
cetd
cetcli
!cetd/
!cetcli/
testhome/

build/
cmd/cetcli/statik/statik.go
/cmd/cetcli/swagger/bower_components/
tools-stamp
*.swp
*.un~
*.go~
