---
swagger: "2.0"
info:
  version: "3.0"
  title: CET-Lite for CoinEx Chain
  description: A REST interface for state queries, transaction generation and broadcasting.
tags:
  - name: Transactions
    description: Search, encode, or broadcast transactions.
  - name: Tendermint
    description: Tendermint APIs, such as query blocks, transactions and validatorset
  - name: Auth
    description: Authenticate accounts
  - name: Bank
    description: Create and broadcast transactions
  - name: Staking
    description: Stake module APIs
  - name: Governance
    description: Governance module APIs
  - name: Slashing
    description: Slashing module APIs
  - name: Distribution
    description: Fee distribution module APIs
  - name: Supply
    description: Supply module APIs
  - name: version
  - name: Misc
    description: Query app version
  - name: Asset
    description: Asset module APIs
  - name: Market
    description: Market module APIs
  - name: Comment
    description: Post comments about tokens
  - name: Alias
    description: Add and remove aliases for accounts
schemes:
  - https
  - http
host: dex-api.coinex.org
securityDefinitions:
  kms:
    type: basic
paths:
  /node_info:
    get:
      description: Information about the connected node
      summary: The properties of the connected node
      operationId: getNodeInfo
      tags:
        - Tendermint
      produces:
        - application/json
      responses:
        200:
          description: Node status
          schema:
            type: object
            properties:
              application_version:
                type: object
                properties:
                  build_tags:
                    type: string
                  client_name:
                    type: string
                  commit:
                    type: string
                  go:
                    type: string
                  name:
                    type: string
                  server_name:
                    type: string
                  version:
                    type: string
              node_info:
                type: object
                properties:
                  id:
                    type: string
                  moniker:
                    type: string
                    example: validator-name
                  protocol_version:
                    properties:
                      p2p:
                        type: string
                        example: 7
                      block:
                        type: string
                        example: 10
                      app:
                        type: string
                        example: 0
                  network:
                    type: string
                    example: gaia-2
                  channels:
                    type: string
                  listen_addr:
                    type: string
                    example: 192.168.56.1:26656
                  version:
                    description: Tendermint version
                    type: string
                    example: 0.15.0
                  other:
                    description: more information on versions
                    type: object
                    properties:
                      tx_index:
                        type: string
                        example: on
                      rpc_address:
                        type: string
                        example: tcp://0.0.0.0:26657
        500:
          description: Failed to query node status
  /syncing:
    get:
      operationId: getSyncing
      summary: Syncing state of node
      tags:
        - Tendermint
      description: Get if the node is currently syning with other nodes
      responses:
        200:
          description: '"true" or "false"'
        500:
          description: Server internal error
  /blocks/latest:
    get:
      summary: Get the latest block
      operationId: getLatestBlock
      tags:
        - Tendermint
      produces:
        - application/json
      responses:
        200:
          description: The latest block
          schema:
            $ref: "#/definitions/BlockQuery"
        500:
          description: Server internal error
  /blocks/{height}:
    get:
      operationId: getBlock
      summary: Get a block at a certain height
      tags:
        - Tendermint
      produces:
        - application/json
      parameters:
        - in: path
          name: height
          description: Block height
          required: true
          type: number
          x-example: 1
      responses:
        200:
          description: The block at a specific height
          schema:
            $ref: "#/definitions/BlockQuery"
        404:
          description: Request block height doesn't
        400:
          description: Invalid height
        500:
          description: Server internal error
  /validatorsets/latest:
    get:
      summary: Get the latest validator set
      operationId: getLatestValidatorSet
      tags:
        - Tendermint
      produces:
        - application/json
      responses:
        200:
          description: The validator set at the latest block height
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: object
                properties:
                  block_height:
                    type: string
                  validators:
                    type: array
                    items:
                      $ref: "#/definitions/TendermintValidator"
        500:
          description: Server internal error
  /validatorsets/{height}:
    get:
      operationId: getValidatorSet
      summary: Get a validator set a certain height
      tags:
        - Tendermint
      produces:
        - application/json
      parameters:
        - in: path
          name: height
          description: Block height
          required: true
          type: number
          x-example: 1
      responses:
        200:
          description: The validator set at a specific block height
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: object
                required:
                  - block_height
                  - validators
                properties:
                  block_height:
                    type: string
                  validators:
                    type: array
                    items:
                      $ref: "#/definitions/TendermintValidator"
                additionalProperties: false
        404:
          description: Block at height not available
        400:
          description: Invalid height
        500:
          description: Server internal error
  /txs/{hash}:
    get:
      summary: Get a Tx by hash
      operationId: getTxByHash
      tags:
        - Transactions
      produces:
        - application/json
      parameters:
        - in: path
          name: hash
          description: Tx hash
          required: true
          type: string
          x-example: BCBE20E8D46758B96AE5883B792858296AC06E51435490FBDCAE25A72B3CC76B
      responses:
        200:
          description: Tx with the provided hash
          schema:
            $ref: "#/definitions/BroadcastTxCommitResult"
        404:
          description: Tx not found
        500:
          description: Internal Server Error
  /txs:
    get:
      operationId: searchTx
      tags:
        - Transactions
      summary: Search transactions
      description: Search transactions by events.
      produces:
        - application/json
      parameters:
        - in: query
          name: message.action
          type: string
          description: "transaction events such as 'message.action=send' which results in the following endpoint: 'GET /txs?message.action=send'"
          x-example: "send"
        - in: query
          name: message.sender
          type: string
          description: "transaction tags with sender: 'GET /txs?message.action=send&message.sender=cosmos16xyempempp92x9hyzz9wrgf94r6j9h5f06pxxv'"
          x-example: "cosmos16xyempempp92x9hyzz9wrgf94r6j9h5f06pxxv"
        - in: query
          name: page
          description: Page number
          type: integer
          x-example: 1
        - in: query
          name: limit
          description: Maximum number of items per page
          type: integer
          x-example: 1
      responses:
        200:
          description: All txs matching the provided events
          schema:
            $ref: "#/definitions/PaginatedQueryTxs"
        400:
          description: Invalid search events
        500:
          description: Internal Server Error
    post:
      tags:
        - Transactions
      summary: Broadcast a signed tx
      description: Broadcast a signed tx to a full node
      operationId: broadcastTx
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: txBroadcast
          description: The tx must be a signed StdTx. The supported broadcast modes include `"block"`(return after tx commit), `"sync"`(return afer CheckTx) and `"async"`(return right away).
          required: true
          schema:
            type: object
            properties:
              tx:
                $ref: "#/definitions/StdTxCore"
              mode:
                type: string
                example: block
      responses:
        200:
          description: Tx broadcasting result
          schema:
            $ref: "#/definitions/BroadcastTxCommitResult"
        500:
          description: Internal Server Error
  /txs/encode:
    post:
      tags:
        - Transactions
      summary: Encode a transaction to the Amino wire format
      description: Encode a transaction (signed or not) from JSON to base64-encoded Amino serialized bytes
      operationId: encodeTx
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: tx
          description: The tx to encode
          required: true
          schema:
            type: object
            properties:
              tx:
                $ref: "#/definitions/StdTx"
      responses:
        200:
          description: The tx was successfully decoded and re-encoded
          schema:
            type: object
            properties:
              tx:
                type: string
                example: The base64-encoded Amino-serialized bytes for the tx
        400:
          description: The tx was malformated
        500:
          description: Server internal error
  /bank/balances/{address}:
    get:
      summary: Get the account balances
      operationId: getAddressBalances
      tags:
        - Bank
      produces:
        - application/json
      parameters:
        - in: path
          name: address
          description: Account address in bech32 format
          required: true
          type: string
          x-example: coinex16gdxm24ht2mxtpz9cma6tr6a6d47x63hlq4pxt
      responses:
        200:
          description: Account balances
          schema:
            type: object
            required:
              - height
              - result
            properties:
              height:
                type: string
              result:
                type: object
                required:
                  - coins
                  - locked_coins
                  - frozen_coins
                properties:
                  coins:
                    type: array
                    items:
                      $ref: "#/definitions/Coin"
                  locked_coins:
                    type: array
                    items:
                      $ref: "#/definitions/LockedCoin"
                    x-nullable: true
                  frozen_coins:
                    type: array
                    items:
                      $ref: "#/definitions/Coin"
                additionalProperties: false
            additionalProperties: false
        204:
          description: There is no data for the requested account
        500:
          description: Server internal error
  /bank/accounts/{address}/transfers:
    post:
      summary: Send coins from one account to another
      operationId: sendCoins
      tags:
        - Bank
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: address
          description: Account address in bech32 format
          required: true
          type: string
          x-example: coinex16gdxm24ht2mxtpz9cma6tr6a6d47x63hlq4pxt
        - in: body
          name: account
          description: The sender and tx information
          required: true
          schema:
            type: object
            required:
              - base_req
              - amount
              - unlock_time
            properties:
              base_req:
                $ref: "#/definitions/BaseReq"
              amount:
                type: array
                items:
                  $ref: "#/definitions/Coin"
              unlock_time:
                type: string
                example: "675132000"
            additionalProperties: false
      responses:
        200:
          description: Tx was succesfully generated
          schema:
            $ref: "#/definitions/StdTx"
        400:
          description: Invalid request
        500:
          description: Server internal error
  /bank/accounts/{address}/supervised_transfers:
    post:
      summary: Operate a supervised transfer
      operationId: transferSupervisedCoins
      tags:
        - Bank
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: address
          description: Account address in bech32 format
          required: true
          type: string
          x-example: coinex16gdxm24ht2mxtpz9cma6tr6a6d47x63hlq4pxt
        - in: body
          name: post_tx_body
          description: The sender and tx information
          required: true
          schema:
            type: object
            required:
              - base_req
              - amount
              - unlock_time
              - operation
            properties:
              base_req:
                $ref: "#/definitions/BaseReq"
              amount:
                $ref: "#/definitions/Coin"
              unlock_time:
                type: string
                example: "675132000"
              sender:
                type: string
                description: "The supervised amount sender's address (required when return or unlock-by-supervisor)"
              supervisor:
                type: string
                description: "The supervisor's address (required when create or unlock-by-sender if there is a supervisor)"
              reward:
                type: string
                example: "1000000000"
              operation:
                type: integer
                example: 1
                description: "Operation type (create: 0; return: 1; unlock-by-sender: 2; unlock-by-supervisor: 3)"
            additionalProperties: false
      responses:
        200:
          description: Tx was succesfully generated
          schema:
            $ref: "#/definitions/StdTx"
        400:
          description: Invalid request
        500:
          description: Server internal error
  /bank/accounts/memo:
    post:
      summary: Mark if memo is required to receive coins
      operationId: setMemoRequired
      tags:
        - Bank
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: account
          description: The mark
          required: true
          schema:
            type: object
            required:
              - base_req
              - memo_required
            properties:
              base_req:
                $ref: "#/definitions/BaseReq"
              memo_required:
                type: boolean
            additionalProperties: false
      responses:
        200:
          description: Tx was succesfully generated
          schema:
            $ref: "#/definitions/StdTx"
        400:
          description: Invalid request
        500:
          description: Server internal error
  /auth/accounts/{address}:
    get:
      summary: Get the account information on blockchain
      operationId: getAccount
      tags:
        - Auth
      produces:
        - application/json
      parameters:
        - in: path
          name: address
          description: Account address
          required: true
          type: string
          x-example: coinex16gdxm24ht2mxtpz9cma6tr6a6d47x63hlq4pxt
      responses:
        200:
          description: Account information on the blockchain
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: object
                required:
                  - address
                  - coins
                  - locked_coins
                  - frozen_coins
                  - public_key
                  - account_number
                  - sequence
                  - memo_required
                  - referee
                  - referee_change_time
                properties:
                  address:
                    type: string
                  coins:
                    type: array
                    items:
                      $ref: "#/definitions/Coin"
                  locked_coins:
                    type: array
                    items:
                      $ref: "#/definitions/LockedCoin"
                    x-nullable: true
                  frozen_coins:
                    type: array
                    items:
                      $ref: "#/definitions/Coin"
                    x-nullable: true
                  public_key:
                    $ref: "#/definitions/PublicKey"
                  account_number:
                    type: string
                  sequence:
                    type: string
                  memo_required:
                    type: boolean
                  referee:
                    type: string
                  referee_change_time:
                    type: string
                additionalProperties: false
        204:
          description: No content about this account address
        500:
          description: Server internel error
  /auth/accounts/{address}/referee:
    post:
      summary: Set referee for account
      operationId: setReferee
      tags:
        - Auth
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: address
          description: Account address in bech32 format
          required: true
          type: string
          x-example: coinex16gdxm24ht2mxtpz9cma6tr6a6d47x63hlq4pxt
        - in: body
          name: referee
          description: Referee
          required: true
          schema:
            type: object
            required:
              - base_req
              - referee
            properties:
              base_req:
                $ref: "#/definitions/BaseReq"
              referee:
                type: string
            additionalProperties: false
      responses:
        200:
          description: Tx was succesfully generated
          schema:
            $ref: "#/definitions/StdTx"
        400:
          description: Invalid request
        500:
          description: Server internal error
  /staking/delegators/{delegatorAddr}/delegations:
    parameters:
      - in: path
        name: delegatorAddr
        description: Bech32 AccAddress of Delegator
        required: true
        type: string
        x-example: coinex167w96tdvmazakdwkw2u57227eduula2cy572lf
    get:
      summary: Get all delegations from a delegator
      operationId: getDelegations
      tags:
        - Staking
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: array
                items:
                  $ref: "#/definitions/Delegation"
        400:
          description: Invalid delegator address
        500:
          description: Internal Server Error
    post:
      summary: Submit delegation
      operationId: submitDelegation
      parameters:
        - in: body
          name: delegation
          description: submit delegation to provided validator
          schema:
            type: object
            properties:
              base_req:
                $ref: "#/definitions/BaseReq"
              delegator_address:
                $ref: "#/definitions/Address"
              validator_address:
                $ref: "#/definitions/ValidatorAddress"
              amount:
                $ref: "#/definitions/Coin"
      tags:
        - Staking
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/BroadcastTxCommitResult"
        400:
          description: Invalid delegator address or delegation request body
        401:
          description: Key password is wrong
        500:
          description: Internal Server Error
  /staking/delegators/{delegatorAddr}/delegations/{validatorAddr}:
    parameters:
      - in: path
        name: delegatorAddr
        description: Bech32 AccAddress of Delegator
        required: true
        type: string
        x-example: coinex167w96tdvmazakdwkw2u57227eduula2cy572lf
      - in: path
        name: validatorAddr
        description: Bech32 OperatorAddress of validator
        required: true
        type: string
        x-example: coinexvaloper1qwl879nx9t6kef4supyazayf7vjhennyh568ys
    get:
      operationId: getDelegationsToValidator
      summary: Query the current delegation between a delegator and a validator
      tags:
        - Staking
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                $ref: "#/definitions/Delegation"
        400:
          description: Invalid delegator address or validator address
        500:
          description: Internal Server Error
  /staking/delegators/{delegatorAddr}/unbonding_delegations:
    parameters:
      - in: path
        name: delegatorAddr
        description: Bech32 AccAddress of Delegator
        required: true
        type: string
        x-example: coinex167w96tdvmazakdwkw2u57227eduula2cy572lf
    get:
      summary: Get all unbonding delegations from a delegator
      operationId: getUndelegationsOfDelegator
      tags:
        - Staking
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: array
                items:
                  $ref: "#/definitions/UnbondingDelegationPair"
        400:
          description: Invalid delegator address
        500:
          description: Internal Server Error
    post:
      summary: Submit an unbonding delegation
      operationId: undelegate
      parameters:
        - in: body
          name: delegation
          description: The password of the account to remove from the KMS
          schema:
            type: object
            required:
              - base_req
              - delegator_address
              - validator_address
              - amount
            properties:
              base_req:
                $ref: "#/definitions/BaseReq"
              delegator_address:
                $ref: "#/definitions/Address"
              validator_address:
                $ref: "#/definitions/ValidatorAddress"
              amount:
                $ref: "#/definitions/Coin"
            additionalProperties: false
      tags:
        - Staking
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/BroadcastTxCommitResult"
        400:
          description: Invalid delegator address or unbonding delegation request body
        401:
          description: Key password is wrong
        500:
          description: Internal Server Error
  /staking/delegators/{delegatorAddr}/unbonding_delegations/{validatorAddr}:
    parameters:
      - in: path
        name: delegatorAddr
        description: Bech32 AccAddress of Delegator
        required: true
        type: string
        x-example: coinex167w96tdvmazakdwkw2u57227eduula2cy572lf
      - in: path
        name: validatorAddr
        description: Bech32 OperatorAddress of validator
        required: true
        type: string
        x-example: coinexvaloper1qwl879nx9t6kef4supyazayf7vjhennyh568ys
    get:
      summary: Query all unbonding delegations between a delegator and a validator
      operationId: getUndelegationsBetween
      tags:
        - Staking
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                $ref: "#/definitions/UnbondingDelegationPair"
        400:
          description: Invalid delegator address or validator address
        500:
          description: Internal Server Error
  /staking/redelegations:
    parameters:
      - in: query
        name: delegator
        description: Bech32 AccAddress of Delegator
        required: false
        type: string
      - in: query
        name: validator_from
        description: Bech32 ValAddress of SrcValidator
        required: false
        type: string
      - in: query
        name: validator_to
        description: Bech32 ValAddress of DstValidator
        required: false
        type: string
    get:
      summary: Get all redelegations (filter by query params)
      operationId: getRedelegations
      tags:
        - Staking
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: array
                items:
                  $ref: "#/definitions/Redelegation"
        500:
          description: Internal Server Error
  /staking/delegators/{delegatorAddr}/redelegations:
    parameters:
      - in: path
        name: delegatorAddr
        description: Bech32 AccAddress of Delegator
        required: true
        type: string
        x-example: coinex167w96tdvmazakdwkw2u57227eduula2cy572lf
    post:
      summary: Submit a redelegation
      operationId: submitRedelegation
      parameters:
        - in: body
          name: delegation
          description: The sender and tx information
          schema:
            type: object
            required:
              - base_req
              - delegator_address
              - validator_src_address
              - validator_dst_address
              - amount
            properties:
              base_req:
                $ref: "#/definitions/BaseReq"
              delegator_address:
                $ref: "#/definitions/Address"
              validator_src_address:
                $ref: "#/definitions/ValidatorAddress"
              validator_dst_address:
                $ref: "#/definitions/ValidatorAddress"
              amount:
                $ref: "#/definitions/Coin"
            additionalProperties: false
      tags:
        - Staking
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        200:
          description: Tx was succesfully generated
          schema:
            $ref: "#/definitions/StdTx"
        400:
          description: Invalid delegator address or redelegation request body
        500:
          description: Internal Server Error
  /staking/delegators/{delegatorAddr}/validators:
    parameters:
      - in: path
        name: delegatorAddr
        description: Bech32 AccAddress of Delegator
        required: true
        type: string
        x-example: coinex167w96tdvmazakdwkw2u57227eduula2cy572lf
    get:
      operationId: getValidatorsOfDelegator
      summary: Query all validators that a delegator is bonded to
      tags:
        - Staking
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: array
                items:
                  $ref: "#/definitions/Validator"
        400:
          description: Invalid delegator address
        500:
          description: Internal Server Error
  /staking/delegators/{delegatorAddr}/validators/{validatorAddr}:
    parameters:
      - in: path
        name: delegatorAddr
        description: Bech32 AccAddress of Delegator
        required: true
        type: string
        x-example: coinex167w96tdvmazakdwkw2u57227eduula2cy572lf
      - in: path
        name: validatorAddr
        description: Bech32 ValAddress of Delegator
        required: true
        type: string
        x-example: coinexvaloper1qwl879nx9t6kef4supyazayf7vjhennyh568ys
    get:
      operationId: getValidatorOfDelegator
      summary: Query a validator that a delegator is bonded to
      tags:
        - Staking
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                $ref: "#/definitions/Validator"
        400:
          description: Invalid delegator address or validator address
        500:
          description: Internal Server Error
  /staking/delegators/{delegatorAddr}/txs:
    parameters:
      - in: path
        name: delegatorAddr
        description: Bech32 AccAddress of Delegator
        required: true
        type: string
        x-example: coinex167w96tdvmazakdwkw2u57227eduula2cy572lf
    get:
      operationId: getDelegatorTxs
      summary: Get all staking txs (i.e msgs) from a delegator
      tags:
        - Staking
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/PaginatedQueryTxs"
        204:
          description: No staking transaction about this delegator address
        400:
          description: Invalid delegator address
        500:
          description: Internal Server Error
  /staking/validators:
    get:
      summary: Get all validator candidates. By default it returns only the bonded validators.
      operationId: getValidators
      parameters:
        - in: query
          name: status
          type: string
          description: The validator bond status. Must be either 'bonded', 'unbonded', or 'unbonding'.
          x-example: bonded
        - in: query
          name: page
          description: The page number.
          type: integer
          x-example: 1
        - in: query
          name: limit
          description: The maximum number of items per page.
          type: integer
          x-example: 1
      tags:
        - Staking
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: array
                items:
                  $ref: "#/definitions/Validator"
        500:
          description: Internal Server Error
  /staking/validators/{validatorAddr}:
    parameters:
      - in: path
        name: validatorAddr
        description: Bech32 OperatorAddress of validator
        required: true
        type: string
        x-example: coinexvaloper1qwl879nx9t6kef4supyazayf7vjhennyh568ys
    get:
      summary: Query the information from a single validator
      operationId: getValidator
      tags:
        - Staking
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                $ref: "#/definitions/Validator"
        400:
          description: Invalid validator address
        500:
          description: Internal Server Error
  /staking/validators/{validatorAddr}/delegations:
    parameters:
      - in: path
        name: validatorAddr
        description: Bech32 OperatorAddress of validator
        required: true
        type: string
        x-example: coinexvaloper1qwl879nx9t6kef4supyazayf7vjhennyh568ys
    get:
      summary: Get all delegations from a validator
      operationId: getDelegationsOfValidator
      tags:
        - Staking
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: array
                items:
                  $ref: "#/definitions/Delegation"
        400:
          description: Invalid validator address
        500:
          description: Internal Server Error
  /staking/validators/{validatorAddr}/unbonding_delegations:
    parameters:
      - in: path
        name: validatorAddr
        description: Bech32 OperatorAddress of validator
        required: true
        type: string
        x-example: coinexvaloper1qwl879nx9t6kef4supyazayf7vjhennyh568ys
    get:
      summary: Get all unbonding delegations from a validator
      operationId: getUndelegationsOfValidator
      tags:
        - Staking
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: array
                items:
                  $ref: "#/definitions/UnbondingDelegationPair"
                x-nullable: true
        400:
          description: Invalid validator address
        500:
          description: Internal Server Error
  /staking/pool:
    get:
      summary: Get the current state of the staking pool
      operationId: getStakingPool
      tags:
        - Staking
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: object
                required:
                  - not_bonded_tokens
                  - bonded_tokens
                  - non_bondable_tokens
                  - total_supply
                  - bonded_ratio
                properties:
                  not_bonded_tokens:
                    type: string
                  bonded_tokens:
                    type: string
                  non_bondable_tokens:
                    type: string
                  total_supply:
                    type: string
                  bonded_ratio:
                    type: string
                additionalProperties: false
        500:
          description: Internal Server Error
  /staking/parameters:
    get:
      summary: Get the current staking parameter values
      operationId: getStakingParameters
      tags:
        - Staking
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: object
                required:
                  - max_entries
                  - unbonding_time
                  - max_validators
                  - bond_denom
                  - min_self_delegation
                  - min_mandatory_commission_rate
                properties:
                  max_entries:
                    type: integer
                  unbonding_time:
                    type: string
                  max_validators:
                    type: integer
                  bond_denom:
                    type: string
                  min_self_delegation:
                    type: string
                  min_mandatory_commission_rate:
                    type: string
                additionalProperties: false
        500:
          description: Internal Server Error
  /slashing/validators/{validatorPubKey}/signing_info:
    get:
      operationId: getSigningInfo
      summary: Get sign info of given validator
      description: Get sign info of given validator
      produces:
        - application/json
      tags:
        - Slashing
      parameters:
        - type: string
          description: Bech32 validator public key
          name: validatorPubKey
          required: true
          in: path
          x-example: coinexvalconspub1zcjduepq7mft6gfls57a0a42d7uhx656cckhfvtrlmw744jv4q0mvlv0dypskehfk8
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                $ref: "#/definitions/SigningInfo"
        204:
          description: No sign info of this validator
        400:
          description: Invalid validator public key
        500:
          description: Internal Server Error
  /slashing/signing_infos:
    get:
      operationId: getSigningInfos
      summary: Get sign info of given all validators
      description: Get sign info of all validators
      produces:
        - application/json
      tags:
        - Slashing
      parameters:
        - in: query
          name: page
          description: Page number
          type: integer
          required: true
          x-example: 1
        - in: query
          name: limit
          description: Maximum number of items per page
          type: integer
          required: true
          x-example: 5
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: array
                items:
                  $ref: "#/definitions/SigningInfo"
        400:
          description: Invalid validator public key for one of the validators
        500:
          description: Internal Server Error
  /slashing/validators/{validatorAddr}/unjail:
    post:
      summary: Unjail a jailed validator
      description: Send transaction to unjail a jailed validator
      operationId: unjailValidator
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - Slashing
      parameters:
        - type: string
          description: Bech32 validator address
          name: validatorAddr
          required: true
          in: path
          x-example: coinexvaloper1qwl879nx9t6kef4supyazayf7vjhennyh568ys
        - description: ""
          name: UnjailBody
          in: body
          required: true
          schema:
            type: object
            properties:
              base_req:
                $ref: "#/definitions/BaseReq"
      responses:
        200:
          description: Tx was succesfully generated
          schema:
            $ref: "#/definitions/BroadcastTxCommitResult"
        400:
          description: Invalid validator address or base_req
        500:
          description: Internal Server Error
  /slashing/parameters:
    get:
      operationId: getSlashingParams
      summary: Get the current slashing parameters
      tags:
        - Slashing
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: object
                required:
                  - max_evidence_age
                  - signed_blocks_window
                  - min_signed_per_window
                  - double_sign_unbond_duration
                  - downtime_unbond_duration
                  - slash_fraction_double_sign
                  - slash_fraction_downtime
                properties:
                  max_evidence_age:
                    type: string
                  signed_blocks_window:
                    type: string
                  min_signed_per_window:
                    type: string
                  double_sign_unbond_duration:
                    type: string
                  downtime_unbond_duration:
                    type: string
                  slash_fraction_double_sign:
                    type: string
                  slash_fraction_downtime:
                    type: string
                additionalProperties: false
        500:
          description: Internal Server Error
  /gov/proposals:
    post:
      summary: Submit a proposal
      description: Send transaction to submit a proposal
      operationId: submitProposal
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - Governance
      parameters:
        - description: valid value of `"proposal_type"` can be `"text"`, `"parameter_change"`, `"software_upgrade"`
          name: post_proposal_body
          in: body
          required: true
          schema:
            type: object
            required:
              - base_req
              - title
              - description
              - proposal_type
              - proposer
              - initial_deposit
            properties:
              base_req:
                $ref: "#/definitions/BaseReq"
              title:
                type: string
              description:
                type: string
              proposal_type:
                type: string
                example: "text"
              proposer:
                $ref: "#/definitions/Address"
              initial_deposit:
                type: array
                items:
                  $ref: "#/definitions/Coin"
            additionalProperties: false
      responses:
        200:
          description: Tx was succesfully generated
          schema:
            $ref: "#/definitions/StdTx"
        400:
          description: Invalid proposal body
        500:
          description: Internal Server Error
    get:
      summary: Query proposals
      description: Query proposals information with parameters
      operationId: getProposals
      produces:
        - application/json
      tags:
        - Governance
      parameters:
        - in: query
          name: voter
          description: voter address
          required: false
          type: string
        - in: query
          name: depositor
          description: depositor address
          required: false
          type: string
        - in: query
          name: status
          description: proposal status, valid values can be `"deposit_period"`, `"voting_period"`, `"passed"`, `"rejected"`
          required: false
          type: string
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: array
                items:
                  $ref: "#/definitions/TextProposal"
        400:
          description: Invalid query parameters
        500:
          description: Internal Server Error
  /gov/proposals/param_change:
    post:
      summary: Generate a parameter change proposal transaction
      description: Generate a parameter change proposal transaction
      operationId: submitParameterChangeProposal
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - Governance
      parameters:
        - description: The parameter change proposal body that contains all parameter changes
          name: post_proposal_body
          in: body
          required: true
          schema:
            type: object
            required:
              - base_req
              - title
              - description
              - proposal_type
              - proposer
              - deposit
              - changes
            properties:
              base_req:
                $ref: "#/definitions/BaseReq"
              title:
                type: string
                x-example: "Param Change"
              description:
                type: string
                x-example: "Update max validators"
              proposal_type:
                type: string
                example: "text"
              proposer:
                $ref: "#/definitions/Address"
              deposit:
                type: array
                items:
                  $ref: "#/definitions/Coin"
              changes:
                type: array
                items:
                  $ref: "#/definitions/ParamChange"
            additionalProperties: false
      responses:
        200:
          description: The transaction was succesfully generated
          schema:
            $ref: "#/definitions/StdTx"
        400:
          description: Invalid proposal body
        500:
          description: Internal Server Error
  /gov/proposals/community_pool_spend:
    post:
      summary: Generate a community pool spend proposal transaction
      description: Generate a community pool spend proposal transaction
      operationId: submitCommunityPoolSpendProposal
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - Governance
      parameters:
        - description: The community pool spend proposal body contains coin amount to be spent
          name: post_proposal_body
          in: body
          required: true
          schema:
            type: object
            required:
              - base_req
              - title
              - description
              - proposer
              - recipient
              - deposit
              - amount
            properties:
              base_req:
                $ref: "#/definitions/BaseReq"
              title:
                type: string
                x-example: "Community Pool Spend"
              description:
                type: string
                x-example: "Pay me some coins"
              proposer:
                $ref: "#/definitions/Address"
              recipient:
                $ref: "#/definitions/Address"
              deposit:
                type: array
                items:
                  $ref: "#/definitions/Coin"
              amount:
                type: array
                items:
                  $ref: "#/definitions/Coin"
            additionalProperties: false
      responses:
        200:
          description: The transaction was succesfully generated
          schema:
            $ref: "#/definitions/StdTx"
        400:
          description: Invalid proposal body
        500:
          description: Internal Server Error
  /gov/proposals/{proposalId}:
    get:
      summary: Query a proposal
      description: Query a proposal by id
      operationId: getProposalByID
      produces:
        - application/json
      tags:
        - Governance
      parameters:
        - type: string
          name: proposalId
          required: true
          in: path
          x-example: '1'
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                $ref: "#/definitions/TextProposal"
        400:
          description: Invalid proposal id
        500:
          description: Internal Server Error
  /gov/proposals/{proposalId}/proposer:
    get:
      summary: Query proposer
      description: Query for the proposer for a proposal
      operationId: getProposer
      produces:
        - application/json
      tags:
        - Governance
      parameters:
        - type: string
          name: proposalId
          required: true
          in: path
          x-example: "2"
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                $ref: "#/definitions/Proposer"
        400:
          description: Invalid proposal ID
        500:
          description: Internal Server Error
  /gov/proposals/{proposalId}/deposits:
    get:
      summary: Query deposits
      description: Query deposits by proposalId
      operationId: getDeposits
      produces:
        - application/json
      tags:
        - Governance
      parameters:
        - type: string
          name: proposalId
          required: true
          in: path
          x-example: "2"
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: array
                items:
                  $ref: "#/definitions/Deposit"
        400:
          description: Invalid proposal id
        500:
          description: Internal Server Error
    post:
      summary: Deposit tokens to a proposal
      description: Send transaction to deposit tokens to a proposal
      operationId: depositToProposal
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - Governance
      parameters:
        - type: string
          description: proposal id
          name: proposalId
          required: true
          in: path
          x-example: "2"
        - description: ""
          name: post_deposit_body
          in: body
          required: true
          schema:
            type: object
            properties:
              base_req:
                $ref: "#/definitions/BaseReq"
              depositor:
                $ref: "#/definitions/Address"
              amount:
                type: array
                items:
                  $ref: "#/definitions/Coin"
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/BroadcastTxCommitResult"
        400:
          description: Invalid proposal id or deposit body
        401:
          description: Key password is wrong
        500:
          description: Internal Server Error
  /gov/proposals/{proposalId}/deposits/{depositor}:
    get:
      summary: Query deposit
      description: Query deposit by proposalId and depositor address
      operationId: getDepositByAddr
      produces:
        - application/json
      tags:
        - Governance
      parameters:
        - type: string
          description: proposal id
          name: proposalId
          required: true
          in: path
          x-example: "2"
        - type: string
          description: Bech32 depositor address
          name: depositor
          required: true
          in: path
          x-example: coinex1xl6453f6q6dv5770c9ue6hspdc0vxfuqtudkhz
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                $ref: "#/definitions/Deposit"
        400:
          description: Invalid proposal id or depositor address
        404:
          description: Found no deposit
        500:
          description: Internal Server Error
  /gov/proposals/{proposalId}/votes:
    get:
      summary: Query voters
      description: Query voters information by proposalId
      operationId: getVoters
      produces:
        - application/json
      tags:
        - Governance
      parameters:
        - type: string
          description: proposal id
          name: proposalId
          required: true
          in: path
          x-example: "2"
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: array
                items:
                  $ref: "#/definitions/Vote"
        400:
          description: Invalid proposal id
        500:
          description: Internal Server Error
    post:
      summary: Vote a proposal
      description: Send transaction to vote a proposal
      operationId: voteProposal
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - Governance
      parameters:
        - type: string
          description: proposal id
          name: proposalId
          required: true
          in: path
          x-example: "2"
        - description: valid value of `"option"` field can be `"yes"`, `"no"`, `"no_with_veto"` and `"abstain"`
          name: post_vote_body
          in: body
          required: true
          schema:
            type: object
            properties:
              base_req:
                $ref: "#/definitions/BaseReq"
              voter:
                $ref: "#/definitions/Address"
              option:
                type: string
                example: "yes"
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/BroadcastTxCommitResult"
        400:
          description: Invalid proposal id or vote body
        401:
          description: Key password is wrong
        500:
          description: Internal Server Error
  /gov/proposals/{proposalId}/votes/{voter}:
    get:
      summary: Query vote
      description: Query vote information by proposal Id and voter address
      operationId: getVoterByAddr
      produces:
        - application/json
      tags:
        - Governance
      parameters:
        - type: string
          description: proposal id
          name: proposalId
          required: true
          in: path
          x-example: "2"
        - type: string
          description: Bech32 voter address
          name: voter
          required: true
          in: path
          x-example: coinex1qwl879nx9t6kef4supyazayf7vjhennyjqwjgr
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                $ref: "#/definitions/Vote"
        400:
          description: Invalid proposal id or voter address
        404:
          description: Found no vote
        500:
          description: Internal Server Error
  /gov/proposals/{proposalId}/tally:
    get:
      summary: Get a proposal's tally result at the current time
      description: Gets a proposal's tally result at the current time. If the proposal is pending deposits (i.e status 'DepositPeriod') it returns an empty tally result.
      operationId: getTally
      produces:
        - application/json
      tags:
        - Governance
      parameters:
        - type: string
          description: proposal id
          name: proposalId
          required: true
          in: path
          x-example: "2"
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                $ref: "#/definitions/TallyResult"
        400:
          description: Invalid proposal id
        500:
          description: Internal Server Error
  /gov/parameters/deposit:
    get:
      summary: Query governance deposit parameters
      description: Query governance deposit parameters. The max_deposit_period units are in nanoseconds.
      operationId: getDepositParameters
      produces:
        - application/json
      tags:
        - Governance
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: object
                properties:
                  min_deposit:
                    type: array
                    items:
                      $ref: "#/definitions/Coin"
                  max_deposit_period:
                    type: string
                    example: "86400000000000"
        400:
          description: <other_path> is not a valid query request path
        404:
          description: Found no deposit parameters
        500:
          description: Internal Server Error
  /gov/parameters/tallying:
    get:
      summary: Query governance tally parameters
      description: Query governance tally parameters
      operationId: getTallyingParameters
      produces:
        - application/json
      tags:
        - Governance
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: object
                properties:
                  threshold:
                    type: string
                    example: "0.5000000000"
                  veto:
                    type: string
                    example: "0.3340000000"
                  governance_penalty:
                    type: string
                    example: "0.0100000000"
        400:
          description: <other_path> is not a valid query request path
        404:
          description: Found no tally parameters
        500:
          description: Internal Server Error
  /gov/parameters/voting:
    get:
      summary: Query governance voting parameters
      description: Query governance voting parameters. The voting_period units are in nanoseconds.
      operationId: getVotingParameters
      produces:
        - application/json
      tags:
        - Governance
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: object
                properties:
                  voting_period:
                    type: string
                    example: "86400000000000"
        400:
          description: <other_path> is not a valid query request path
        404:
          description: Found no voting parameters
        500:
          description: Internal Server Error
  /distribution/delegators/{delegatorAddr}/rewards:
    parameters:
      - in: path
        name: delegatorAddr
        description: Bech32 AccAddress of Delegator
        required: true
        type: string
        x-example: coinex167w96tdvmazakdwkw2u57227eduula2cy572lf
    get:
      summary: Get the total rewards balance from all delegations
      description: Get the sum of all the rewards earned by delegations by a single delegator
      operationId: getAllRewards
      produces:
        - application/json
      tags:
        - Distribution
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                $ref: "#/definitions/DelegatorTotalRewards"
        400:
          description: Invalid delegator address
        500:
          description: Internal Server Error
    post:
      summary: Withdraw all the delegator's delegation rewards
      description: Withdraw all the delegator's delegation rewards
      operationId: withdrawAllRewards
      tags:
        - Distribution
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: Withdraw request body
          schema:
            properties:
              base_req:
                $ref: "#/definitions/BaseReq"
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/BroadcastTxCommitResult"
        400:
          description: Invalid delegator address
        401:
          description: Key password is wrong
        500:
          description: Internal Server Error
  /distribution/delegators/{delegatorAddr}/rewards/{validatorAddr}:
    parameters:
      - in: path
        name: delegatorAddr
        description: Bech32 AccAddress of Delegator
        required: true
        type: string
        x-example: coinex167w96tdvmazakdwkw2u57227eduula2cy572lf
      - in: path
        name: validatorAddr
        description: Bech32 OperatorAddress of validator
        required: true
        type: string
        x-example: coinexvaloper1qwl879nx9t6kef4supyazayf7vjhennyh568ys
    get:
      operationId: getRewardByValidator
      summary: Query a delegation reward
      description: Query a single delegation reward by a delegator
      tags:
        - Distribution
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: array
                items:
                  $ref: "#/definitions/Coin"
        400:
          description: Invalid delegator address
        500:
          description: Internal Server Error
    post:
      summary: Withdraw a delegation reward
      description: Withdraw a delegator's delegation reward from a single validator
      operationId: withdrawRewardsByValidator
      tags:
        - Distribution
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: Withdraw request body
          schema:
            properties:
              base_req:
                $ref: "#/definitions/BaseReq"
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/BroadcastTxCommitResult"
        400:
          description: Invalid delegator address or delegation body
        401:
          description: Key password is wrong
        500:
          description: Internal Server Error
  /distribution/delegators/{delegatorAddr}/withdraw_address:
    parameters:
      - in: path
        name: delegatorAddr
        description: Bech32 AccAddress of Delegator
        required: true
        type: string
        x-example: coinex167w96tdvmazakdwkw2u57227eduula2cy572lf
    get:
      operationId: getWithdrawAddress
      summary: Get the rewards withdrawal address
      description: Get the delegations' rewards withdrawal address. This is the address in which the user will receive the reward funds
      tags:
        - Distribution
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                $ref: "#/definitions/Address"
        400:
          description: Invalid delegator address
        500:
          description: Internal Server Error
    post:
      operationId: setWithdrawAddress
      summary: Replace the rewards withdrawal address
      description: Replace the delegations' rewards withdrawal address for a new one.
      tags:
        - Distribution
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: Withdraw request body
          schema:
            properties:
              base_req:
                $ref: "#/definitions/BaseReq"
              withdraw_address:
                $ref: "#/definitions/Address"
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/BroadcastTxCommitResult"
        400:
          description: Invalid delegator or withdraw address
        401:
          description: Key password is wrong
        500:
          description: Internal Server Error
  /distribution/validators/{validatorAddr}:
    parameters:
      - in: path
        name: validatorAddr
        description: Bech32 OperatorAddress of validator
        required: true
        type: string
        x-example: coinexvaloper1qwl879nx9t6kef4supyazayf7vjhennyh568ys
    get:
      operationId: getDistributionInfo
      summary: Validator distribution information
      description: Query the distribution information of a single validator
      tags:
        - Distribution
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                $ref: "#/definitions/ValidatorDistInfo"
        400:
          description: Invalid validator address
        500:
          description: Internal Server Error
  /distribution/validators/{validatorAddr}/outstanding_rewards:
    parameters:
      - in: path
        name: validatorAddr
        description: Bech32 OperatorAddress of validator
        required: true
        type: string
        x-example: coinexvaloper1qwl879nx9t6kef4supyazayf7vjhennyh568ys
    get:
      summary: Fee distribution outstanding rewards of a single validator
      operationId: getOutstandingRewards
      tags:
        - Distribution
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            properties:
              height:
                type: string
              result:
                type: array
                items:
                  $ref: "#/definitions/Coin"
        500:
          description: Internal Server Error
  /distribution/validators/{validatorAddr}/rewards:
    parameters:
      - in: path
        name: validatorAddr
        description: Bech32 OperatorAddress of validator
        required: true
        type: string
        x-example: coinexvaloper1qwl879nx9t6kef4supyazayf7vjhennyh568ys
    get:
      operationId: getValidatorRewards
      summary: Commission and self-delegation rewards of a single validator
      description: Query the commission and self-delegation rewards of validator.
      tags:
        - Distribution
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: array
                items:
                  $ref: "#/definitions/Coin"
        400:
          description: Invalid validator address
        500:
          description: Internal Server Error
    post:
      operationId: withdrawAllValidatorRewards
      summary: Withdraw the validator's rewards
      description: Withdraw the validator's self-delegation and commissions rewards
      tags:
        - Distribution
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: Withdraw request body
          schema:
            properties:
              base_req:
                $ref: "#/definitions/BaseReq"
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/BroadcastTxCommitResult"
        400:
          description: Invalid validator address
        401:
          description: Key password is wrong
        500:
          description: Internal Server Error
  /distribution/{accAddress}/donates:
    post:
      summary: Donate to the community pool
      description: Donate some amount of cet to the community pool
      operationId: donateToCommunityPool
      tags:
        - Distribution
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: accAddress
          description: Account address of the user
          required: true
          type: string
          x-example: coinex1628t2zxa9antj3qtkg7xj2m4t68uljqvyjqrup
        - in: body
          name: amount
          description: Amount of cet to donate
          required: true
          schema:
            type: object
            properties:
              base_req:
                $ref: "#/definitions/BaseReq"
              amount:
                type: array
                items:
                  $ref: "#/definitions/Coin"
      responses:
        200:
          description: Donate tx result
          schema:
            $ref: "#/definitions/StdTx"
        400:
          description: Invalid Request
        500:
          description: Internal Server Error
  /distribution/community_pool:
    get:
      summary: Community pool parameters
      operationId: getCommunityPool
      tags:
        - Distribution
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            properties:
              height:
                type: string
              result:
                type: array
                items:
                  $ref: "#/definitions/Coin"
        500:
          description: Internal Server Error
  /distribution/parameters:
    get:
      operationId: getDistributionParams
      summary: Fee distribution parameters
      tags:
        - Distribution
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                properties:
                  base_proposer_reward:
                    type: string
                  bonus_proposer_reward:
                    type: string
                  community_tax:
                    type: string
        500:
          description: Internal Server Error
  /auth/parameters:
    get:
      operationId: getAuthParams
      summary: Get the current auth parameters
      tags:
        - Auth
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: object
                properties:
                  max_memo_characters:
                    type: string
                  tx_sig_limit:
                    type: string
                  tx_size_cost_per_byte:
                    type: string
                  sig_verify_cost_ed25519:
                    type: string
                  sig_verify_cost_secp256k1:
                    type: string
                  min_gas_price_limit:
                    type: string
        500:
          description: Internal Server Error
  /bank/parameters:
    get:
      operationId: getBankParams
      summary: Get the current bankx parameters
      tags:
        - Bank
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: object
                properties:
                  activation_fee:
                    type: string
                  lock_coins_fee:
                    type: string
        500:
          description: Internal Server Error
  /incentive/parameters:
    get:
      operationId: getIncentiveParams
      summary: Get the current incentive parameters
      tags:
        - Incentive
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: object
                properties:
                  default_reward_per_block:
                    type: string
                  plans:
                    type: array
                    items:
                      type: object
                      properties:
                        start_height:
                          type: string
                        end_height:
                          type: string
                        reward_per_block:
                          type: string
                        total_incentive:
                          type: string
        500:
          description: Internal Server Error
  /asset/parameters:
    get:
      operationId: getAssetParams
      summary: Get the current asset parameters
      tags:
        - Asset
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: object
                properties:
                  issue_token_fee:
                    type: string
                  issue_rare_token_fee:
                    type: string
                  issue_3char_token_fee:
                    type: string
                  issue_4char_token_fee:
                    type: string
                  issue_5char_token_fee:
                    type: string
                  issue_6char_token_fee:
                    type: string
        500:
          description: Internal Server Error
  /asset/tokens:
    post:
      tags:
        - Asset
      summary: Issue token
      description: Issue a new Token
      operationId: issueToken
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: tokenInfo
          description: the detail info about the Token to issue
          required: true
          schema:
            $ref: "#/definitions/IssueToken"
      responses:
        200:
          description: Token issuance result
          schema:
            $ref: "#/definitions/StdTx"
        400:
          description: Invalid Request
        500:
          description: Internal Server Error
    get:
      tags:
        - Asset
      summary: List tokens
      description: List all existing tokens
      operationId: getTokenList
      produces:
        - application/json
      responses:
        200:
          description: All existing tokens
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: array
                items:
                  $ref: "#/definitions/Token"
        400:
          description: Invalid Request
        500:
          description: Internal Server Error
  /asset/tokens/{symbol}:
    get:
      tags:
        - Asset
      summary: queryToken
      description: Get token with provided `symbol`
      operationId: getToken
      produces:
        - application/json
      parameters:
        - in: path
          name: symbol
          description: token symbol
          required: true
          type: string
          x-example: abc
      responses:
        200:
          description: token with provided symbol
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                $ref: "#/definitions/Token"
        400:
          description: Invalid Request
        404:
          description: Tokens not found
        500:
          description: Internal Server Error
  /asset/tokens/{symbol}/ownerships:
    post:
      tags:
        - Asset
      summary: Transfer ownership
      description: Transfer token owner ship
      operationId: transferOwnership
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: symbol
          description: token symbol
          required: true
          type: string
          x-example: abc
        - in: body
          name: newOwner
          description: transfer ownership to new owner
          required: true
          schema:
            type: object
            properties:
              base_req:
                $ref: "#/definitions/BaseReq"
              new_owner:
                $ref: "#/definitions/Address"
      responses:
        200:
          description: Token transfer ownership result
          schema:
            $ref: "#/definitions/StdTx"
        400:
          description: Invalid Request
        500:
          description: Internal Server Error
  /asset/tokens/{symbol}/mints:
    post:
      tags:
        - Asset
      summary: Mint token
      description: Mint mintable token
      operationId: mintToken
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: symbol
          description: token symbol
          required: true
          type: string
          x-example: abc
        - in: body
          name: amount
          description: mint token amount
          required: true
          schema:
            type: object
            properties:
              base_req:
                $ref: "#/definitions/BaseReq"
              amount:
                type: string
      responses:
        200:
          description: Mint token result
          schema:
            $ref: "#/definitions/StdTx"
        400:
          description: Invalid Request
        500:
          description: Internal Server Error
  /asset/tokens/{symbol}/burns:
    post:
      tags:
        - Asset
      summary: Burn token
      description: Burn burnable token
      operationId: burnToken
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: symbol
          description: token symbol
          required: true
          type: string
          x-example: abc
        - in: body
          name: amount
          description: burn token amount
          required: true
          schema:
            type: object
            properties:
              base_req:
                $ref: "#/definitions/BaseReq"
              amount:
                type: string
      responses:
        200:
          description: Burn token result
          schema:
            $ref: "#/definitions/StdTx"
        400:
          description: Invalid Request
        500:
          description: Internal Server Error
  /asset/tokens/{symbol}/forbids:
    post:
      tags:
        - Asset
      summary: Forbid token
      description: Forbid forbiddable token
      operationId: forbidToken
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: symbol
          description: token symbol
          required: true
          type: string
          x-example: abc
        - in: body
          name: baseReq
          description: base req
          required: true
          schema:
            type: object
            properties:
              base_req:
                $ref: "#/definitions/BaseReq"
      responses:
        200:
          description: Forbid token result
          schema:
            $ref: "#/definitions/StdTx"
        400:
          description: Invalid Request
        500:
          description: Internal Server Error
  /asset/tokens/{symbol}/unforbids:
    post:
      tags:
        - Asset
      summary: UnForbid token
      description: UnForbid forbiddable token
      operationId: unFrobidToken
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: symbol
          description: token symbol
          required: true
          type: string
          x-example: abc
        - in: body
          name: baseReq
          description: base req
          required: true
          schema:
            type: object
            properties:
              base_req:
                $ref: "#/definitions/BaseReq"
      responses:
        200:
          description: UnForbid token result
          schema:
            $ref: "#/definitions/StdTx"
        400:
          description: Invalid Request
        500:
          description: Internal Server Error
  /asset/tokens/{symbol}/forbidden/whitelist:
    get:
      tags:
        - Asset
      summary: queryWhitelist
      description: Get token whitelist with provided `symbol`
      operationId: getWhitelist
      produces:
        - application/json
      parameters:
        - in: path
          name: symbol
          description: token symbol
          required: true
          type: string
          x-example: abc
      responses:
        200:
          description: whitelist with provided symbol
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: array
                items:
                  $ref: "#/definitions/Address"
        404:
          description: Token not found
        500:
          description: Internal Server Error
    post:
      tags:
        - Asset
      summary: Add forbid whitelist
      description: Add forbiddable token whitelist addr
      operationId: addWhitelist
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: symbol
          description: token symbol
          required: true
          type: string
          x-example: abc
        - in: body
          name: whitelist
          description: token whitelist addr
          required: true
          schema:
            $ref: "#/definitions/Whitelist"
      responses:
        200:
          description: Add forbid whitelist result
          schema:
            $ref: "#/definitions/StdTx"
        400:
          description: Invalid Request
        500:
          description: Internal Server Error
  /asset/tokens/{symbol}/unforbidden/whitelist:
    post:
      tags:
        - Asset
      summary: Remove forbid whitelist
      description: Remove forbiddable token whitelist addr
      operationId: removeWhitelist
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: symbol
          description: token symbol
          required: true
          type: string
          x-example: abc
        - in: body
          name: whitelist
          description: token whitelist addr
          required: true
          schema:
            $ref: "#/definitions/Whitelist"
      responses:
        200:
          description: Remove forbid whitelist result
          schema:
            $ref: "#/definitions/StdTx"
        400:
          description: Invalid Request
        500:
          description: Internal Server Error
  /asset/tokens/{symbol}/forbidden/addresses:
    get:
      tags:
        - Asset
      summary: query forbidden addresses
      description: Get forbidden addresses with provided `symbol`
      operationId: getForbiddenAddresses
      produces:
        - application/json
      parameters:
        - in: path
          name: symbol
          description: token symbol
          required: true
          type: string
          x-example: abc
      responses:
        200:
          description: forbidden addresses with provided symbol
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: array
                items:
                  $ref: "#/definitions/Address"
        400:
          description: Invalid Request
        500:
          description: Internal Server Error
    post:
      tags:
        - Asset
      summary: Forbid address
      description: Add forbidden addresses
      operationId: forbidAddr
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: symbol
          description: token symbol
          required: true
          type: string
          x-example: abc
        - in: body
          name: addresses
          description: forbidden addresses
          required: true
          schema:
            $ref: "#/definitions/Addresses"
      responses:
        200:
          description: Forbid address result
          schema:
            $ref: "#/definitions/StdTx"
        400:
          description: Invalid Request
        500:
          description: Internal Server Error
  /asset/tokens/{symbol}/unforbidden/addresses:
    post:
      tags:
        - Asset
      summary: UnForbid address
      description: Remove forbidden addresses
      operationId: unForbidAddr
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: symbol
          description: token symbol
          required: true
          type: string
          x-example: abc
        - in: body
          name: addresses
          description: un forbidden addresses
          required: true
          schema:
            $ref: "#/definitions/Addresses"
      responses:
        200:
          description: UnForbid address result
          schema:
            $ref: "#/definitions/StdTx"
        400:
          description: Invalid Request
        500:
          description: Internal Server Error
  /asset/tokens/reserved/symbols:
    get:
      tags:
        - Asset
      summary: List reserved symbols
      description: List all reserved symbols
      operationId: getReservedSymbols
      produces:
        - application/json
      responses:
        200:
          description: All reserved symbols
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: string
        400:
          description: Invalid Request
        500:
          description: Internal Server Error
  /asset/tokens/{symbol}/infos:
    post:
      tags:
        - Asset
      summary: Modify token info
      description: Modify token info
      operationId: modifyTokenInfo
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: symbol
          description: token symbol
          required: true
          type: string
          x-example: abc
        - in: body
          name: info
          description: new token info
          required: true
          schema:
            type: object
            properties:
              base_req:
                $ref: "#/definitions/BaseReq"
              url:
                type: string
              description:
                type: string
              identity:
                type: string
              name:
                type: string
              total_supply:
                type: string
              mintable:
                type: string
              burnable:
                type: string
              addr_forbiddable:
                type: string
              token_forbiddable:
                type: string
      responses:
        200:
          description: Modify token info result
          schema:
            $ref: "#/definitions/StdTx"
        400:
          description: Invalid Request
        500:
          description: Internal Server Error
  /market/parameters:
    get:
      operationId: getMarketParams
      summary: Get the current market parameters
      tags:
        - Market
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: object
                properties:
                  create_market_fee:
                    type: string
                  fixed_trade_fee:
                    type: string
                  market_min_expired_time:
                    type: string
                  gte_order_lifetime:
                    type: string
                  gte_order_feature_fee_by_blocks:
                    type: string
                  max_executed_price_change_ratio:
                    type: string
                  market_fee_rate:
                    type: string
                  market_fee_min:
                    type: string
                  fee_for_zero_deal:
                    type: string
        500:
          description: Internal Server Error
  /market/gte-orders:
    post:
      summary: Create GTE order in blockchain
      tags:
        - Market
      consumes:
        - application/json
      produces:
        - application/json
      operationId: createGteOrder
      parameters:
        - in: body
          name: orderInfo
          description: create order tx
          required: true
          schema:
            allOf:
              - type: object
                properties:
                  base_req:
                    $ref: "#/definitions/BaseReq"
                  exist_blocks:
                    type: string
                    example: "10000"
              - $ref: "#/definitions/Order"
            additionalProperties: false
      responses:
        200:
          description: Tx was succesfully generated
          schema:
            $ref: "#/definitions/StdTx"
        400:
          description: Invalid request
        500:
          description: Server internal error
  /market/ioc-orders:
    post:
      summary: Create IOC order in blockchain
      tags:
        - Market
      consumes:
        - application/json
      produces:
        - application/json
      operationId: createIocOrder
      parameters:
        - in: body
          name: orderInfo
          description: create order tx
          required: true
          schema:
            allOf:
              - type: object
                properties:
                  base_req:
                    $ref: "#/definitions/BaseReq"
              - $ref: "#/definitions/Order"
            additionalProperties: false
      responses:
        200:
          description: Tx was succesfully generated
          schema:
            $ref: "#/definitions/StdTx"
        400:
          description: Invalid request
        500:
          description: Server internal error
  /market/trading-pairs:
    post:
      summary: Create trading-pair in blockchain
      tags:
        - Market
      consumes:
        - application/json
      produces:
        - application/json
      operationId: createTradingPair
      parameters:
        - in: body
          name: info
          description: Create trading-pair
          required: true
          schema:
            allOf:
              - type: object
                properties:
                  base_req:
                    $ref: "#/definitions/BaseReq"
              - $ref: "#/definitions/BaseMarket"
            additionalProperties: false
      responses:
        200:
          description: Tx was succesfully generated
          schema:
            $ref: "#/definitions/StdTx"
        400:
          description: Invalid request
        500:
          description: Server internal error
  /market/price-precision:
    post:
      summary: Modify the price precision of the trading pair in the dex
      tags:
        - Market
      consumes:
        - application/json
      produces:
        - application/json
      operationId: modifyPricePrecision
      parameters:
        - in: body
          name: info
          description: trading-pair, price-precision as params
          required: true
          schema:
            type: object
            properties:
              base_req:
                $ref: "#/definitions/BaseReq"
              price_precision:
                type: string
                example: 10
              trading_pair:
                type: string
                example: etc/cet
      responses:
        200:
          description: Tx was succesfully generated
          schema:
            $ref: "#/definitions/StdTx"
        400:
          description: Invalid request
        500:
          description: Server internal error
  /market/exist-trading-pairs:
    get:
      summary: Query all trading-pair infos in blockchain
      tags:
        - Market
      consumes:
        - application/json
      produces:
        - application/json
      operationId: queryTradingPairs
      responses:
        200:
          description: All trading-pairs in blockchain
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                $ref: "#/definitions/MarketInfos"
        400:
          description: Invalid request
        500:
          description: Server internal error

  /market/trading-pairs/{stock}/{money}:
    get:
      summary: Query trading-pair info
      tags:
        - Market
      produces:
        - application/json
      operationId: getTradingPair
      parameters:
        - in: path
          name: stock
          description: stock symbol
          required: true
          type: string
          x-example: btc
        - in: path
          name: money
          description: money symbol
          required: true
          type: string
          x-example: cet
      responses:
        200:
          description: trading-pair info of the specified symbol
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                $ref: "#/definitions/MarketInfo"
        400:
          description: Invalid symbol
        500:
          description: Server internal error
  /market/orderbook/{stock}/{money}:
    get:
      summary: Query trading-pair's orderbook
      tags:
        - Market
      produces:
        - application/json
      operationId: getOrdersInMarket
      parameters:
        - in: path
          name: stock
          description: stock symbol
          required: true
          type: string
          x-example: btc
        - in: path
          name: money
          description: money symbol
          required: true
          type: string
          x-example: cet
      responses:
        200:
          description: orders in the specified trading-pair
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: array
                items:
                  $ref: "#/definitions/OrderInfo"
        400:
          description: Invalid symbol
        500:
          description: Server internal error
  /market/orders/{order-id}:
    get:
      summary: Query order info
      tags:
        - Market
      produces:
        - application/json
      operationId: getOrder
      parameters:
        - in: path
          name: order-id
          description: The order id
          required: true
          type: string
          x-example: coinex1dmz7e2fddhejdz5n7e3qc5szx3zn2gj3ta8rwj
      responses:
        200:
          description: Order info of the specified id
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: object
                properties:
                  type:
                    type: string
                  value:
                    $ref: "#/definitions/OrderInfo"
        400:
          description: Invalid order-id
        500:
          description: Server internal error
  /market/orders/account/{address}:
    get:
      summary: Query user order-id list
      tags:
        - Market
      produces:
        - application/json
      operationId: getOrders
      parameters:
        - in: path
          name: address
          description: The user address
          required: true
          type: string
          x-example: coinex1dmz7e2fddhejdz5n7e3qc5szx3zn2gj3ta8rwj
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                $ref: "#/definitions/Order-Ids"
        400:
          description: Invalid address
        500:
          description: Server internal error
  /market/cancel-order:
    post:
      summary: Cancel the order
      tags:
        - Market
      consumes:
        - application/json
      produces:
        - application/json
      operationId: cancelOrder
      parameters:
        - in: body
          name: orderInfo
          description: cancel order tx
          required: true
          schema:
            type: object
            required:
              - base_req
              - order_id
            properties:
              base_req:
                $ref: "#/definitions/BaseReq"
              order_id:
                type: string
                example: coinex1dmz7e2fddhejdz5n7e3qc5szx3zn2gj3ta8rwj-1
            additionalProperties: false
      responses:
        200:
          description: Tx was succesfully generated
          schema:
            $ref: "#/definitions/StdTx"
        400:
          description: Invalid request
        500:
          description: Server internal error
  /market/cancel-trading-pair:
    post:
      summary: Cancel the trading-pair
      tags:
        - Market
      consumes:
        - application/json
      produces:
        - application/json
      operationId: cancelTradingPair
      parameters:
        - in: body
          name: info
          description: cancel trading-pair in dex
          required: true
          schema:
            type: object
            required:
              - base_req
              - trading_pair
              - time
            properties:
              base_req:
                $ref: "#/definitions/BaseReq"
              trading_pair:
                type: string
                example: abc/cet
              time:
                type: string
                example: 7
            additionalProperties: false
      responses:
        200:
          description: Tx was succesfully generated
          schema:
            $ref: "#/definitions/StdTx"
        400:
          description: Invalid request
        500:
          description: Server internal error
  /alias/address-of-alias/{alias}:
    get:
      summary: Given an alias, query the corresponding address
      operationId: getAddressFromAlias
      tags:
        - Alias
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: alias
          description: The alias to be queried
          required: true
[...]
